# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MSVS folders
*/*/C++/msvc2017/Test/.vs/
*/*/C++/msvc2017/Test/Debug/
*/*/C++/msvc2017/Test/Release/
*/*/C++/msvc2017/Test/Test/Debug/
*/*/C++/msvc2017/Test/Test/Release/
*/*/C++/msvc2017/Test/Test/Test.vcxproj.user
*/*/C++/msvc2017/Test/Test/x64/
*/*/C++/msvc2017/Test/x64/